body{
    margin: 0 auto;
    width: 850px;
}
main{
 
  margin: 0 auto;
  height:450px;
  background-image: url(nasapic.jpeg);
  color: white;

}
section{
    display:flex;
   height: 324px;
   flex-direction: row;
   justify-content: space-between;
   background-color:lightgray;
  
}
article{
    width: 270px;
   height:374px;
    background-color:lightgray;
}